<div *ngIf="showNavBar">
<div class="filters-container">
  <div class="filter-item">
    <label for="ageGroup">Age Group:</label>
    <select [(ngModel)]="filters.ageGroup">
      <option value="15-25">15-25</option>
      <option value=">25">>25</option>
    </select>
  </div>

  <div class="filter-item">
    <label for="gender">Gender:</label>
    <select id="gender" [(ngModel)]="filters.gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
  </div>

  <div class="filter-item">
    <label for="dateRange">Date Range:</label>
    <div class="date-range">
      <input 
      type="date" 
      [ngModel]="parseDateToISO(filters.startDate)" 
      (ngModelChange)="onDateChange('startDate', $event)" />
    
      <span>to</span>
      <input 
      type="date" 
      [ngModel]="parseDateToISO(filters.endDate)" 
      (ngModelChange)="onDateChange('endDate', $event)" />

    <button class="apply-btn" (click)="applyFilters()">Apply Filters</button>
    <button *ngIf="currentGraph" class="apply-btn" (click)="toggleGraph()">next Graph</button>
    <button *ngIf="!currentGraph" class="apply-btn" (click)="toggleGraph()">previous Graph</button>
    </div>
  </div>
</div>
<div class="chart-container">
  <app-bar-chart *ngIf="currentGraph"
  [barChartData]="barChartData"
  [barChartLabels]="barChartLabels"
  ></app-bar-chart>
  <app-line-chart *ngIf="!currentGraph"
  [lineChartData]="barChartData"
  [lineChartLabels]="barChartLabels"
  ></app-line-chart>
</div>
</div>
<router-outlet></router-outlet>
